{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!
{% endblock %}

{% block body %}
	<body>
		<div id="root"></div>
		{{ vite_entry_script_tags('admin') }}
	</body>
{% endblock %}
