{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!
{% endblock %}

{% block body %}
	<head>
		{{ vite_entry_link_tags('admin') }}
	</head>
	<div id="root"></div>
	{{ vite_entry_script_tags('admin') }}
{% endblock %}
