{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!
{% endblock %}

{% block body %}
	<head>
		{{ vite_entry_link_tags('admin') }}
	</head>
	Menu is one of the two React components!
	<div id="root"></div>
	{{ vite_entry_script_tags('admin', { dependency: 'react' }) }}
	and Admin is the second one!
{% endblock %}
